# This flagfile defines the training procedure we've settled on for these experiments.
# To run any script using these settings, pass `--flagfile csf/parameters.cfg` as an
# argument to the script. Alternatively these flags can be defined in other config
# files or directly as arguments, overwriting defaults and values in the flagfile.

# TODO(Aidan): Before open-sourcing, change to use released data instead of internal.

# Required flags not provided in this file:
# --out_dir
# --train_batches

# Global config
--bands=SPOT_red,SPOT_green,SPOT_blue,SPOT_nir,NAIP_red,NAIP_green,NAIP_blue,NAIP_nir,PHR_red,PHR_green,PHR_blue,PHR_nir

# Training hyperparameters
--band_dropout_rate=0.66
--random_brightness_delta=0.25
--random_contrast_delta=0.25

#  Optimization hyperparameters
--batch_size=128
--learning_rate=0.001
--layer_loss_weights=conv4_block5_out:1.0,conv5_block3_out:1.0

# Warmup schedules
# TODO(Aidan): re-introduce
# --learning_rate_warmup_batches=500
# --band_dropout_rate_warmup_batches=15000

# Training definition
--data_tilesize=160
--model_tilesize=128
--data_feature_name=spot_naip_phr
--data_listing=gs://dl-appsci/basenets/upstream_data/spot_naip_phr_v0_run2.txt
--keep_checkpoint_every_n_hours=1

# Visualization
--visualize_bands=SPOT_red,SPOT_green,SPOT_blue,NAIP_red,NAIP_green,NAIP_blue,PHR_red,PHR_green,PHR_blue

# Allow this file to be used for training
--undefok=visualize_bands
